.idea/

*.pem

**/.vscode/
**/__pycache__/
**/debug

build_all.bat


**/target
!target/release/tui.exe
!target/release/server.exe
!target/release/updater.exe
!target/release/tui
!target/release/server
!target/release/updater

report/
!report/*.tex
!report/*.bib
!report/section/*.tex
!report/section/.bib
!report/imgs/