<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>terminal animation</title>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Dancing+Script'>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Terminal+Dosis'>
    <link rel="stylesheet" href="../static/styles/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>
    <div class='console-container'>
        <span id='text'></span>
        <div class='console-underscore' id='console'>&#95;</div>
    </div>
    <footer>
        <span>
            Made with <i class="fa fa-heart pulse"></i> by <a href="https://github.com/christiansassi/advanced-programming-of-cryptographic-methods-project" target="_blank">Alessandro Perez, Matteo Bordignon, and Christian Sassi</a>
        </span>
    </footer>
    <script src="../static/scripts/home.js"></script>
</body>

</html>
