[req]
default_bits       = 4096
distinguished_name = req_distinguished_name
prompt             = no
x509_extensions    = v3_req
default_md         = sha256

[req_distinguished_name]
C  = IT
ST = Trentino-Alto Adige
L  = Trento
O  = University of Trento
CN = localhost

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
